<<<<<<< HEAD
* { 
	margin: 0; 
	padding: 0; 
}

/********ESTILOS DEL MENU*****************/
body { 
	background: #ffff; 
	font-family: Helvetica, Verdana, Arial, Tahoma, sans-serif; 
	font-size: 62.5%; 
	line-height: 1; 
}

a { 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-touch-callout: none; 
}

p {
	margin-top: 5px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;	
}

h1{
	font-size: 20px;
	font-weight: 800;
}
h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 14px;}
h5{font-size: 12px;}
h6{font-size: 10px;}

/* base components */
#mobileContainer { 
	position: relative; 
	overflow: hidden; 
}

#page { 
	position: relative; 
	left: 0; 
	top:0px; 
	z-index: 98; 
}

#slidingMenu { 
	display: block; 
	position: absolute;
	width: 100%; 
	left: 0px; 
	top: 0px; 
	z-index: 0;
	visibility: hidden;	/* to block user interaction on wp7 (z-index wont work) */
	margin-top: 50px;
	z-index: 97;
 }

/* content property */
#header {
	display: block; 
	height : 50px;
	background-color: #ECECEC;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	box-shadow: 0px 3px 10px #757D93;
}

.show-menu-button { 
	display: block; 
	float: left; 
	width: 24px; 
	height: 22px; 
	margin-top: 13px; 
	margin-left: 11px;
	background: url('../img/menu_bt.png') no-repeat; 
}

#pageContent { 
	background: #ECECEC; 
	height: 100%; 
	z-index: 9999; 
	padding-top: 50px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#slidingMenu ul { 
	list-style: none; 
	background: #BFBFBF; 
}

#slidingMenu ul li { 
	display: block; 
	border-bottom: 1px solid #C2C2C2;
}

.menu-icon { 
	vertical-align: middle;
	margin-right: 6px;
	border:none; /* wp7 display a border on image link*/
}

#slidingMenu ul li a { 
	position: relative; 
	display: block;  
	line-height: 45px;
	padding-left: 12px; 
	color: #FFF; 
	font-size: 16px; 
	text-decoration: none; 
	font-weight: bold;
}

#slidingMenu ul li a:hover { 
	color: #999eac; 
	text-decoration: none; 
}


/******************INDEX*******************************/
#menu-title{
	margin: 0px auto;
	text-align: center;
	margin-left: -11px;
}

#menu-title h2,
#menu-title h5{
	color: #FF8000;	
	margin: 0px;	
	padding: 5px 36px;
	font-weight: bold;	
	margin-left: -11px;
}

#pageContentHeader {
	margin: 0px auto;	
	padding: 5px 0px;
	text-align: center;	
	background-color: #000;
}

#logos{
	width: 100%;
	height: 80px;
	margin: 15px 0px;
	background-color: #ECECEC;
}

#sep{
	text-align: center;
}

#sep img{
	width: 250px;
	height: 80px;
}

#ith{
	float: right;
}

#ith img{
	width: 50px;
	height: 50px;
}

.fecha{
	font-size: 14px;	
	font-weight: bold;
	color: #FFF;
}

#pageContentHeader h3{	
	color: #FF8000;	
}

#title{
	margin: 0px 0px 25px 0px;
	background-color: #ECECEC;
	padding: 10px 0px;
}

.news{
	margin: 20px;
}

.newsTitle{
	text-align: center;	
	margin-bottom: 5px;
}
.newsImg{
	text-align: center;	
	width: 30%;
	float: left;
}

.newsImg img{
	width: 100%;
}

.newsText{
	font-size: 12px;
	text-align: justify;
	width: 60%;
	float: right;
}
.clear{
	clear: both;
}

iframe{
	width: 100%;
}
=======
* { 
	margin: 0; 
	padding: 0; 
}

/********ESTILOS DEL MENU*****************/
body { 
	background: #ffff; 
	font-family: Helvetica, Verdana, Arial, Tahoma, sans-serif; 
	font-size: 62.5%; 
	line-height: 1; 
}

a { 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-touch-callout: none; 
}

p {
	margin-top: 5px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;	
}

h1{
	font-size: 20px;
	font-weight: 800;
}
h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 14px;}
h5{font-size: 12px;}
h6{font-size: 10px;}

/* base components */
#mobileContainer { 
	position: relative; 
	overflow: hidden; 
}

#page { 
	position: relative; 
	left: 0; 
	top:0px; 
	z-index: 98; 
}

#slidingMenu { 
	display: block; 
	position: absolute;
	width: 100%; 
	left: 0px; 
	top: 0px; 
	z-index: 0;
	visibility: hidden;	/* to block user interaction on wp7 (z-index wont work) */
	margin-top: 50px;
	z-index: 97;
 }

/* content property */
#header {
	display: block; 
	height : 50px;
	background-color: #ECECEC;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	box-shadow: 0px 3px 10px #757D93;
}

.show-menu-button { 
	display: block; 
	float: left; 
	width: 24px; 
	height: 22px; 
	margin-top: 13px; 
	margin-left: 11px;
	background: url('../img/menu_bt.png') no-repeat; 
}

#pageContent { 
	background: #fff; 
	height: 100%; 
	z-index: 9999; 
	padding-top: 50px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#slidingMenu ul { 
	list-style: none; 
	background: #BFBFBF; 
}

#slidingMenu ul li { 
	display: block; 
	border-bottom: 1px solid #C2C2C2;
}

.menu-icon { 
	vertical-align: middle;
	margin-right: 6px;
	border:none; /* wp7 display a border on image link*/
}

#slidingMenu ul li a { 
	position: relative; 
	display: block;  
	line-height: 45px;
	padding-left: 12px; 
	color: #FFF; 
	font-size: 1.6em; 
	text-decoration: none; 
}

#slidingMenu ul li a:hover { 
	color: #999eac; 
	text-decoration: none; 
}


/******************INDEX*******************************/
#menu-title{
	margin: 0px auto;
	text-align: center;
	margin-left: -11px;
}

#menu-title h2,
#menu-title h5{
	color: #FF8000;	
	margin: 0px;	
	padding: 6px 36px;
	font-weight: bold;	
	margin-left: -11px;
}

#pageContentHeader {
	margin: 0px auto;	
	padding: 10px 0px;
	text-align: center;	
}

.fecha{
	font-size: 12px;
	font-weight: bold;
}

#pageContentHeader h3{	
	color: #FF8000;	
}

#title{
	margin: 15px 0px 25px 0px;
}

.news{
	margin: 10px;
}

.newsTitle{
	text-align: center;	
}
.newsImg{
	text-align: center;	
}
.newsText{
	font-size: 12px;
	text-align: justify;

}
>>>>>>> d5e97e9ce4dc9873f6bdcf0cdaf1faa1ae6c3348
